[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/zhanwenchen/cutlass.git
	tag = v3.5.1-native
[submodule "third_party/flash-attention"]
	path = third_party/flash-attention
	url = https://github.com/zhanwenchen/flash-attention.git
	tag = v2.7.0.post2-native
[submodule "third_party/composable_kernel_tiled"]
	path = third_party/composable_kernel_tiled
	url = https://github.com/ROCm/composable_kernel.git
	branch = develop 
